__pycache__/
*.pyc
*.zip
downloaded_emails/
temp_processing/
.vscode/
.idea/
*.eml
build/
benchmark_results.md
benchmark_detailed.log
benchmark_results/

test_level_folder/file.txt
test_zip_folder/test.txt
